body {
	border: 2px solid tomato;
	box-sizing: border-box;
	border-width: 0 1px;
	font-family: sans-serif;
	font-size: 2rem;
	margin: 0 auto;
	max-width: 700px;
	min-height: 100vh;
	padding: 4rem;
}
input {
	border: 2px solid green;
	width: 300px;
	height: 20px;
	margin: auto auto;
}

button{
    height: 2em;
}

ul {
	padding: 0;
	margin: 0 auto;
}
.list-element{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.25em 0.50em;
}

.list-element li {
	font-size: 1em;
}

.list-element:hover {
	background-color: rgb(86, 197, 86);
  }

.done {
	text-decoration: line-through;
}

.remove {
	color: whitesmoke;
	box-sizing: border-box;
	border: None;
	height:auto;
	padding: 0.25em 0.50em;
	background-color: rgb(202, 157, 72);
}


